# mac junk
*.DS_Store

# visual studio code junk
.vscode/
.vscode/settings.json

# emacs backups
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Enviroment 
venv/

# Jupyter Notebook
.ipynb_checkpoints

# logs
*.log

# Distribution
*.egg-info/
*.egg

# Testing
test.py